body {
    background-image: url("background.jpg"); 
    opacity: 0.95;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
header, footer {
    background: #f0a500; }

header {text-align: center;
        font-size:50px;
        margin-bottom: 0px;
        font-size: 80px;
}

footer {text-align: right;
        padding:4px;
        font-size: 14px;}


.wrapper {
    align-content: center;
    margin: 5px;
    display: grid;
    row-gap: 5px;
    column-gap: 5px;
}



.aside, .main, .nav{
    background: #f0a500; 
    margin: 5px;
    height:300px;
    text-align: center;
    font-size: 20px; 
}



@media screen and (max-width: 799px) {
    .wrapper {grid-template-columns: 1fr;}
}

@media screen and (min-width: 800px) {
    .wrapper {grid-template-columns: 1fr 2fr 1fr;}
   
}

    
