body {
    margin: 30px;
    font-family: Georgia, 'Times New Roman', Times;
   background: #1a1c20;
    /* background-image: url("indexbackground.jpg"); */
}

a { text-decoration: none;
    color: #f4f4f4;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}


.button1, .button2, .button3 {
    text-align: center;
    font-size: 30px;
    margin: 30px;
    padding: 20px;
    height: 30px;
    width: 100px;
    background: #cf7500;
    opacity: 0.9;    
    flex: 20%;
    
}

img { 
    margin: 10px; 
    display: block; 
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 60%;
    float: center;

}
